.lists  {
 background-color: #232f3e;
padding: 10px;
}
.lists ul {
    display: flex;
    list-style: none;
    color: white;
    font-size: 15px;
    margin-left: 20px;
}
.lists ul li{
    margin-right: 19px;
    margin-top: 4px;
    cursor: pointer;
}
.menu{
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}
@media (max-width: 540px) {
    .lists ul li {
        display: none;
    }
}